<!-- <p>book-form works!</p> -->
<form [formGroup]="bookForm" class="container" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      placeholder="Enter Name"
    />
  </div>
  <br />
  <div formArrayName="authors" class="form-group">
    <label for="authors">Authors</label>
    <div
      class="input-group"
      *ngFor="let item of authorsArray.controls; index as i"
    >
      <input [formControlName]="i" class="form-control" />
    </div>
  </div>
  <br />
  <div class="form-group">
    <label for="isbn">Isbn</label>
    <input
      type="text"
      formControlName="isbn"
      class="form-control"
      placeholder="Enter Isbn"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
